POSTGRES_DB=eventhub
POSTGRES_USER=eventhub
POSTGRES_PASSWORD=eventhub
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://postgres:5432/eventhub
DB_USERNAME=eventhub
DB_PASSWORD=eventhub

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=eventhub-docker-development-secret-key-change-me-minimum-32-characters
JWT_ACCESS_TTL_MINUTES=60
JWT_REFRESH_TTL_DAYS=30

SERVER_PORT=8080
BACKEND_PORT=8080
FRONTEND_PORT=3000
EVENT_STATUS_SCHEDULER_DELAY_MS=60000